<div id="random-message-section">
  {% if section.blocks.size > 0 %}
    {% assign random_index = 'now' | date: '%s' | modulo: section.blocks.size %}
    <p id="random-message">{{ section.blocks[random_index].settings.text }}</p>
  {% else %}
    <p id="random-message">Add some messages in theme editor</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Random Message Section",
  "settings": [],
  "blocks": [
    {
      "type": "message",
      "name": "Message",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Message text"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Random Message Section"
    }
  ]
}
{% endschema %}
