<section id="random-message-section">
  {% assign messages = section.settings.messages %}
  <p id="random-message">
    {{ messages  }}
  </p>
</section>

{% schema %}
{
  "name": "Random Message Section",
  "settings": [
    {
      "type": "textarea",
      "id": "messages",
      "label": "Messages (one per line)",
      "default": "Congrats!\nYou got a gift!\nEnjoy your shopping!"
    }
  ]
}
{% endschema %}
