<div id="random-message-section">
  {% if cart.item_count > 0 %}
    {% if section.blocks.size > 0 %}
      {% assign random_index = 'now' | date: '%N' | modulo: section.blocks.size %}
      {% for block in section.blocks offset: random_index limit: 1 %}
        <p id="random-message">{{ block.settings.text }}</p>
      {% endfor %}
      <p>DEBUG: Found {{ random_index }}</p>
    {% else %}
      <p id="random-message">Add some messages in theme editor</p>
    {% endif %}
  {% else %}
    <p id="random-message"></p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Random Message Section",
  "settings": [],
  "blocks": [
    {
      "type": "message",
      "name": "Message",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Message text"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Random Message Section"
    }
  ]
}
{% endschema %}
